@model WebApplication2.Models.ViewModels.MalumotViewModels
    <div class="site-blocks-cover inner-page" style="background-image: url('/images/hero_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1>Biz Haqimizda</h1>
              <p>Butun dunyo bo'ylab tibbiyot mutaxassislari tomonidan e'tirof etilgan bizning farmatsevtika mahsulotlarimiz samarali va ishonchli davolash usullari bilan millionlab bemorlarga sog'lom hayot kechirishlariga yordam berdi.</p>ˀ
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="~/images/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Biz Qanday Boshladik</h2>
            </div>
            <p class="text-black">Bizning sayohatimiz 2013 yilda kichik jamoa va katta tasavvur bilan boshlandi: innovatsion yechimlar va tengsiz mijozlarga xizmat ko'rsatish orqali sanoatni inqilob qilish. Kamtarin boshidanoq biz sodiq mijozlarimizning ishonchi va yordami tufayli ishonchli brendga aylandik..</p>
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <img src="~/images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
                    class="icon-play"></span></a>
    
              </figure>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Biz Ishonchli Kompaniyamiz</h2>
              <p class="text-black">10 yildan ortiq tajribaga ega bo'lgan holda, biz butun dunyo bo'ylab minglab mamnun mijozlarga yuqori sifatli mahsulotlar va ajoyib xizmatlarni yetkazib berish bo'yicha kuchli obro'ga ega bo'ldik. Ishonchlilik, oshkoralik va mijozlar ehtiyojini qondirishga sodiqligimiz bizni sanoatda alohida ajratib turadi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck text-primary"></span>
            </div>
            <div class="text">
              <h2>Yetkazib berish bepul</h2>
              <p> Har qanday buyurtma uchun bepul yetkazib berish xizmati mavjud. Sizning buyurtmangizni eshigingizgacha olib boramiz.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2 text-primary"></span>
            </div>
            <div class="text">
              <h2>Bepul Qayatrish</h2>
              <p>Biz barcha buyurtmalar uchun 30 kunlik muammosiz qaytarish siyosatini taklif qilamiz. Agar toʻliq qoniqmasangiz, toʻlovni toʻliq qaytarish uchun xaridingizni qaytaring — hech qanday savol tugʻilmaydi!.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help text-primary"></span>
            </div>
            <div class="text">
              <h2>Mijozlarni qo‘llab-quvvatlash</h2>
              <p>Bizning maxsus qo'llab-quvvatlash guruhimiz har qanday so'rov yoki muammolar bo'yicha sizga yordam berish uchun 24/7 mavjud. Tez va ishonchli yordam uchun telefon, elektron pochta yoki jonli chat orqali bog'laning..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Jamoa</h2>
          </div>
        </div>
        <div class="row">
          @foreach (var team in Model.Users)
          {
            <div class="col-md-6 col-lg-6 mb-5">

              <div class="block-38 text-center">
                <div class="block-38-img">
                  <div class="block-38-header">
                    <img src="~/images/@team.ImageUrl" alt="Image placeholder" class="mb-4">
                    <h3 class="block-38-heading h4">@team.Name</h3>
                    <p class="block-38-subheading">@team.Position</p>
                  </div>
                  <div class="block-38-body">
                    <p>@team.Bio </p>
                  </div>
                </div>
              </div>

            </div>
          }
        </div>
      </div>
    </div>

