@model WebApplication2.Models.ViewModels.MalumotViewModels

<div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
          <a asp-action="BoshSahifa" asp-controller="Home">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Checkout</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="bg-light rounded p-3">
              <p class="mb-0">Returning customer? <a href="#" class="d-inline-block">Click here</a> to login</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <form method="post" asp-action="PlaceOrder" asp-controller="Home">
              <div class="p-3 p-lg-5 border">
                <h2 class="h3 mb-3 text-black">Billing Details</h2>

                <div class="form-group">
                  <label for="c_payment_method" class="text-black">Payment Method <span class="text-danger">*</span></label>
                  <select id="c_payment_method" name="PaymentMethod" class="form-control">
                    <option value="Credit Card">Credit Card</option>
                    <option value="PayPal">PayPal</option>
                    <option value="Bank Transfer">Bank Transfer</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="c_transaction_id" class="text-black">Transaction ID</label>
                  <input type="text" class="form-control" id="c_transaction_id" name="TransactionId" placeholder="Enter Transaction ID">
                </div>
              </div>
            </form>

          </div>
          <div class="col-md-6">
            
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">

                  <table class="table site-block-order-table mb-5">
                    <thead>
                    <tr>
                      <th>Product</th>
                      <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var order in Model.Orders)
                    {
                      <tr>
                        <td>
                          @order.Product.Name <strong class="mx-2">x</strong> @order.Quantity
                        </td>
                        <td>$@order.TotalPrice</td>
                      </tr>
                    }
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                      <td class="text-black font-weight-bold"><strong>$@Model.Total</strong></td>
                    </tr>
                    </tbody>
                  </table>

                  <div class="border mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                        aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>
    
                    <div class="collapse" id="collapsebank">
                      <div class="py-2 px-4">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                          payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </div>
                  </div>
    
                  <div class="border mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button"
                        aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>
    
                    <div class="collapse" id="collapsecheque">
                      <div class="py-2 px-4">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                          payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </div>
                  </div>
    
                  <div class="border mb-5">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button"
                        aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>
    
                    <div class="collapse" id="collapsepaypal">
                      <div class="py-2 px-4">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                          payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                      </div>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <a asp-action="PlaceOrder" asp-controller="Home"> <button type="submit" class="btn btn-primary btn-lg btn-block" >Place
                      Order</button>
                    </a>
                  </div>
    
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
    


